body {
    background-image: url("wood.jpg");
    background-size: 80%;
    margin: 0;
}

}
p {
    color: White;
    border: 1px solid powderblue;
}

h1 {
  color: white;
  font-size: 70px;
  margin-top: 50px;
  font-family: "Patua One", "Times New roman", "Georgia", "serif";
  text-shadow: 2px 2px black;
}

h2 {
  position: absolute;
text-align: center;

Background:white;
    bottom:0px;
    margin-left: 290px;
}

h4 {
  color: White;
  position:absolute;
    bottom:0;
    right:0;

}

* {
    box-sizing: border-box;
}

.topnav {
    background-color: black;
    overflow: hidden;
    position:fixed;
    width: 100%;
    top: 0;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


img {

border-radius: 10%;
object-fit: cover;
border: black 3px outset;
}
