h2 {
	font-size: 40px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px black;
}

.Text {
	border: 15px solid white;
	background-color: white;
	color: black;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	align: center;
}

ol {
	display: table;
	margin: 0 auto;
	color: white;
	font-size: 30px;
}

a {
	color: white;
}
